<html>
<head>
<title>People</title>
</head>
<body>
	<form action="transfer" method="POST">
		<table>
			<tbody>
				<tr>
					<td>Source Account</td>
					<td><input type="text" name="sourceAccountNumber" /></td>
				</tr>
				<tr>
					<td>Target Account</td>
					<td><input type="text" name="targetAccountNumber" /></td>
				</tr>
				<tr>
					<td>Amount</td>
					<td><input type="text" name="amount" /></td>
				</tr>
			</tbody>
		</table>
		<br>
		<input type="submit" value="Transfer">
	</form>
</body>
</html>